#main {
    position: absolute;
    left: 288px;
    width: 704px;
    height: 506px;
    border: rgb(0, 119, 255) 2px solid;
    overflow: hidden;
    background: black;
}

#snake {
    width: 22px;
    height: 22px;
    background-color:lime;
    top:0;
    left:0;
    position: absolute;
}
.hale {
    width: 20px;
    height: 20px;
    background-color:lime;
    top:0;
    left:0;
    position: absolute;
    border: white solid 1px; 
}

#eple {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: red;
    opacity: 1;
    z-index: 1;
}

body {
    overflow: hidden;
}

#poeng {
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px limegreen solid;
    background-color: green;
    font-size: 23px;
}

#gameover {
    opacity: 0;
    position: absolute;
    left: 270px;
    top: 200px;
    z-index: 2;
    background-color: black;
    color: white;
    text-align: center;
}

#knapp {
    position: absolute;
    left: 288px;
    top: 530px;
}

#mute {
    position: absolute;
    left: 375px;
    top: 530px;
}

#bakgrunn {
    background: url("bakgrunn.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}