#main {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 800px;
    height: 400px;
    border: 2px green solid;
    overflow: hidden;
    background-image: url("stjernenatt.png");
    background-repeat: no-repeat;
}

#julenisse {
    position: absolute;
    top: 0px;
    left: 30px;
    background-image: url("nissen.png");
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    animation: julenisse 5s linear infinite;
    
}

@keyframes julenisse {
    0% {left: -600px; top: 10px; }
    100% {left: 1000px; top: 10px;}
   
}

#tekst {
    position: absolute;
    height: 50px;
    width: 300px;
    top: 340px;
    left: 250px;
    border: red solid 2px;
}

h1 {
    text-shadow: 0 0 5px #FF0000;
    color: green;
    text-align: center;
    font-size: 10em;
}

.pakke {
    width: 40px;
    height: 60px;
    position: absolute;
    background-color: green;
    border-left: solid 16px red;
    border-right: solid 16px red;
}